<h1>BT</h1>
<div class="card">
    <h2>Tell us what would you like to eat?</h2>
    <h3>Choose An Authenticity</h3>
    <select class="selectDropdown">
        <option>Indian - Punjabi</option>
        <option>Indian - Maharashtrian</option>
        <option>Indian - S/indian</option>
        <option>Indian - Kokni</option>
        <option>Chinese</option>
        <option>Indian - North Indian</option>
        <option>Italian</option>
        <option>Mexican</option>
        <option>Middle eastern</option>
    </select>
    <h3>Choose A Taste Type</h3>
    <select class="selectDropdown">
            <option>Sweet</option>
            <option>Sour</option>
            <option>Spicy</option>
            <option>Random</option>
    </select>
    <h3>Choose A Type of Meal</h3>
    <select class="selectDropdown">
            <option>Starter</option>
            <option>Main-course</option>
            <option>Desert</option>
            <option>Street Food</option>
            <option>Health Food</option>
    </select>
    <button type="button" class="buttonPrimary">Search</button>
</div>
